<!doctype html>
<html>
<head>
	<script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/public/css/layout.css"/>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/bower_components/handlebars/handlebars.min.js" type="text/javascript"></script>
	<script src="/public/js/main.js" type="text/javascript"></script>
	<script src="https://apis.google.com/js/client.js?onload=init"></script>
	
</head>
<body>
	<h1 class="title">Purdue Parking Assistant</h1>
	<div id="prelogin-body-container">
		<div id="center-this">
			{{{body}}}
		</div>
	</div>

</body>
</html>