<h2>This is the accounts page</h2>

<div id="account-info">
	<h4>Name: </h4><p>Anthony Natoli</p>
	<h4>Username: </h4><p>anatoli</p>
	<h4>Account type: </h4><p>Citizen</p>
</div>

<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Make</th>
				<th>Model</th>
				<th>Year</th>
				<th>Color</th>
				<th>License Plate Number</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Chevrolet</td>
				<td>Camero</td>
				<td>2014</td>
				<td>Red</td>
				<td>124ABC</td>
				<td>Indiana</td>
			</tr>
		</tbody>
	</table>
</div>

<button class="btn btn-primary">Edit Account</button>
<button class="btn btn-danger">Delete Account</button>

