<div id="login-container">
	<div>Username: <input type="text" id="username-field"></input></div><br>
	<div>Password: <input type="password" id="password-field"></input></div>
	<div id="login-btns">
		<button type="button" class="btn btn-info" id="signup-btn">Sign up</button>
		<button type="button" class="btn btn-success" id="login-btn">Login</button>
	</div>
</div>

<script src='/public/js/login.js'></script>