<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Message</th>
				<th><button type="button" class="btn btn-success" id="add-msg">Add a message</button></th>
			</tr>
		</thead>
		<tbody id="msg-table-body">
			{{#each items}}
				<tr class="message-row" id="{{messageID}}">
					<!--td><input type="text" class="table-input message-field" disabled value={{message}}></input></td-->
					<td class="message-field">{{{message}}}</td>
					<td class="message-votes"><div id="voteCount" style="float: left; margin-left: 8px; margin-top: 4px">{{votes}}</div>
					<div class="vote-buttons" style="float: left">
						<button type="button" class="btn btn-info up-btn">
							<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
						</button>
						<button type="button" class="btn btn-info down-btn">
							<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
						</button>
					</div></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script src="/public/js/message-board.js"></script>