<h2>Account Information</h2>

<div id="account-info">
	{{#each account}}
	<h4>Name: </h4><p>{{name}}</p>
	<h4>Username: </h4><p>{{username}}</p>
	<h4>Account type: </h4><p>{{account_type}}</p>
	{{/each}}
</div>


