<div id="wrapper">
	<div id="canvasContainer" width="580" height="750">
		<canvas id="mapCanvas" width="580" height = "750"></canvas>
		<div hidden>
			<img id="canvasImg" alt="Right Click to Save Me" display="none">
		</div>
	</div>

	<div id="toolbarContainer">
		<h4>Toolbar</h4>
		<p>
			<td><button type="button" class="btn btn-info" id="black"onclick="color(this)">Black</button></td>
			<td><button type="button" class="btn btn-info" id="green"onclick="color(this)">Green</button></td>
			<td><button type="button" class="btn btn-info" id="purple"onclick="color(this)">Purple</button></td>
		</p>

		<td><button type="button" class="btn btn-primary" id="clearButton" onclick="clearCanvas()">Clear</button></td>
		<td><button type="button" class="btn btn-primary" id="saveButton" onclick="save()">Save</button></td>
	</div>


</div>

<div class="modal fade" id="myModal">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" id="topCloseButton" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Set Restrictions</h4>
      		</div>
      		<div class="modal-body">
      	 		<h4>Parking Passes Allowed:</h4>
      	 		<select class="parking-restrictions" id="parking-pass-restrictions">
      	 			<option value="No Parking"> No Parking </option>
      	 			<option value="A"> A </option>
      	 			<option value="A,B"> A,B </option>
      	 			<option value="A,B,C"> A,B,C </option>
      	 			<option value="Residence Halls"> Residence Halls </option>
      	 		</select>
      	 		<h4>Time Restricted</h4>
      	 		<input type="time" class="parking-restrictions" id="earlier-time-restrictions">
      	 		<input type="time" class="parking-restrictions" id="later-time-restrictions">
     		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal" id="closeButton">Close</button>
       			<button type="button" class="btn btn-primary" id="updateRestButton">Update</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript"> 
	$(document).ready(function() {
		prepareCanvas();
	});
</script>

<script src="/public/js/police-map.js"></script>
  