<div id="wrapper">
	<div id="canvasContainer" width="580" height="750">
		<canvas id="mapCanvas" width="580" height = "750"></canvas>
		<div hidden>
			<img id="canvasImg" alt="Right Click to Save Me" display="none">
		</div>
		<!--<input id="uploadinput" class="cloudinary-fileupload" data-cloudinary-field="canvasImg"
			data-form-data = ""></input>-->
	</div>

	<div id="buttonContainer">
		<table id="settingsTable">
			<tr id="toolbarRow" class="headerRow">
				<th class="headerFont" colspan="4">Toolbar</th>
			</tr>
			<tr>
				<td><button id="line" onclick="changeShape(this)">Line</button></td>
				<td><button id="rectangle" onclick="changeShape(this)">Rectangle</button></td>
			</tr>
			<tr class="headerRow">
				<th class="headerFont"colspan="4">Color</th>
			</tr>
			<tr>
				<td><button id="purple"onclick="color(this)">Purple</button></td>
				<td><button id="green"onclick="color(this)">Green</button></td>
				<td><button id="yellow"onclick="color(this)">Yellow</button></td>
				<td><button id="brown"onclick="color(this)">Brown</button></td>
			</tr>
			<tr class="headerRow">
				<th class="headerFont" colspan="4">Size</th>
			</tr>
			<tr>
				<td><button id="small"onclick="changeSize(this)">Small</button></td>
				<td><button id="normal"onclick="changeSize(this)">Normal</button></td> 
				<td><button id="large"onclick="changeSize(this)">Large</button></td>
				<td><button id="huge"onclick="changeSize(this)">Huge</button></td> 
			</tr>
			<tr>
				<td><button id="clearButton" onclick="clearCanvas()">Clear</button></td>
				<td><button id="saveButton" onclick="save()">Save</button></td>
			</tr>
		</table> 
	</div>
</div>

<div class="modal fade" id="myModal">
  	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Save Image</h4>
      		</div>
      		<div class="modal-body">
      	 		<h4>Name:</h4><input type="text" class="save-image-field" id="save-image-name"></input>
     		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       			<button type="button" class="btn btn-primary" data-dismiss="modal" id="saveImageButton">Save</button>
      		</div>
    	</div><!-- /.modal-content -->
  	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript"> 
	$(document).ready(function() {
		prepareCanvas();
	});
</script>

<script src="/public/js/police-map.js"></script>
  