<div id="register-container">
	<div>Name: <input type="text" id="name"></input></div><br>
	<div>Email: <input type="text" id="email"></input></div><br>
	<div>Phone: <input type="text" id="phone"></input></div><br>
	<div>Username: <input type="text" id="username"></input></div><br>
	<div>Password: <input type="password" id="password"></input></div>
	<div id="register-btns">
		<button type="button" class="btn btn-info" id="register-btn">Sign up</button>
	</div>
</div>

<script src='/public/js/register.js'></script>
