<h2>Tow Company Account Information</h2>

<div id="table-container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Tow Company</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			{{#each account}}
			<tr>
				<td>{{account_name}}</td>
				<td>{{location}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>
