body {
	font-family: sans-serif;
	overflow: hidden;
	background: #ddd;
	display: block;
}

.welcome {
	text-align: center;
	margin-bottom: 20px;
}

#nav-container {
	width: 20%;
	float: left;
}

#body-container {
	margin-left: 20%;
}

.title {
	text-align: center;
}

.message-field {
	width: 80%;
}
.message-field:hover {
	cursor: pointer;
}

#full-container {
	margin-left: 10px;
}

.message-row {
	height: 75px;
}

#msg-container {
	height: 75px;
	width: 60%;
	border: 1px solid #428bca;
	border-radius: 4px;
	float: left;
}

#vote-container {
	float: left;
	margin-top: 22px;
	margin-left: 30px;
	font-size: 20px;
}

#comments-container {
	clear: left;
}

#comment-input {
	width: 60%;
	height: 50px;
}

#comment-btn {
	margin-left: 51%
}

body {
	overflow: scroll;
}