#toolbarContainer{
	width: 400px;
	height: 500px;
	float: left;
	padding: 0px 10px;
}

#canvasContainer{
	width: 580px;
	height: 750px;
	float: left;
	border: 2px black;
}

#wrapper{
	width: 100%;
	display: inline-block;
}

